.submitButton {
    /* Default styles for the disabled state */
    background-color: #dddddd;
    color: #888;
  }
  
  .submitButton.enabled {
    /* Styles for the enabled state */
    background-color: #4CAF50; /* Green */
    color: white;
  }

  #progressBarContainer {
    width: 100%;
    height: 30px;
    background-color: #f3f3f3;
    position: relative;
  }
  
  #progressBar {
    width: 0%;
    height: 30px;
    background-color: #4caf50;
    position: absolute;
    left: 0;
  }
  
